@font-face {
  font-family: 'YasuiCofeben';
  src: url('./fonts/YasuiCofeben.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --vp-c-brand-1: #C98E4E;
  --vp-c-brand-2: #C47A37;
  --vp-c-brand-3: #B57615;
  --vp-c-brand-4: #CC855F;
  --vp-c-brand-shadow: #d8ad95;
}

/* Dark mode colors */
.dark {
  --vp-c-brand-1: #E4A257;
  --vp-c-brand-2: #DCA347;
  --vp-c-brand-3: #D2932C;
  --vp-c-brand-4: #996447;
  --vp-c-brand-shadow: #5a3724;
}

:root {
  --vp-home-hero-name-color: var(--vp-c-brand-1);
  --vp-button-brand-bg: var(--vp-c-brand-4);
  --vp-button-brand-bg: var(--vp-c-brand-4);
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.VPImage {
  filter: drop-shadow(-8px 8px 64px var(--vp-c-brand-shadow));
}

.VPButton.medium {
  border-radius: 12px !important;
  padding: 2px 24px !important;
}

.box .icon {
  height: 52px !important;
  width: 52px !important;
  border-radius: 10px !important;
}

.VPFeature {
  border-radius: 16px !important;
}

.VPHero .main {
  max-width: none !important;
  width: 100% !important;
}

@media (max-width: 960px) {
  .VPHome {
    margin-bottom: 64px !important;
  }

  .VPHero .image {
    margin-top: -92px;
  }

  .VPHero .main .name {
    font-size: 48px !important;
  }
}

@media (min-width: 960px) {
  .VPHome {
    margin-bottom: 84px !important;
  }

  .VPHero {
    margin-bottom: 24px;
  }

  .VPHero .main {
    margin-top: -32px;
    flex: 2 !important;
  }

  .VPHero .image {
    order: 0 !important;
  }

  .VPHero .image img {
    max-width: 260px !important;
    margin-left: 54px;
    margin-top: 20px;
    transform: translate(-50%, -50%) rotate(-4deg);
  }

  .VPHero .main .name {
    font-size: 68px !important;
  }

  .VPHero .main .text {
    font-size: 50px !important;
    max-width: 640px !important;
  }

  .VPHero .tagline {
    padding-right: 2rem;
  }
}

.VPHero .text,
.VPHero .tagline {
  max-width: none !important;
  width: 100% !important;
}

.VPHero .main .name {
  margin-bottom: 12px !important;
  font-family: 'YasuiCofeben', sans-serif !important;
}
