:root {
  --vp-c-brand-1: #D2932C;
  --vp-c-brand-2: #C4851F;
  --vp-c-brand-3: #B57615;
  --vp-c-brand-4: #CC855F;
  --vp-c-brand-shadow: #dba78a;
}

/* Dark mode colors */
.dark {
  --vp-c-brand-1: #E8B55A;
  --vp-c-brand-2: #DCA347;
  --vp-c-brand-3: #D2932C;
  --vp-c-brand-4: #996447;
  --vp-c-brand-shadow: #69402a;
}

:root {
  --vp-home-hero-name-color: var(--vp-c-brand-1);
  --vp-button-brand-bg: var(--vp-c-brand-4);
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.VPImage {
  filter: drop-shadow(-8px 8px 44px var(--vp-c-brand-shadow));
}

.VPHero .main {
  max-width: none !important;
  width: 100% !important;
}

@media (max-width: 960px) {
  .VPHome {
    margin-bottom: 64px !important;
  }

  .VPHero .image {
    margin-top: -92px;
  }
}

@media (min-width: 960px) {
  .VPHome {
    margin-bottom: 84px !important;
  }

  .VPHero .main {
    margin-top: -32px;
    flex: 2 !important;
  }

  .VPHero .image {
    order: 0 !important;
  }

  .VPHero .image img {
    max-width: 300px !important;
    margin-left: 28px;
    margin-top: 8px;
  }

  .VPHero .main .text {
    font-size: 52px !important;
    max-width: 640px !important;
  }

  .VPHero .tagline {
    padding-right: 2rem;
  }
}

.VPHero .text,
.VPHero .tagline {
  max-width: none !important;
  width: 100% !important;
}

.VPHero .main .name {
  margin-bottom: 4px !important;
}
