:root {
  /* Brand colors */
  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-4: #784BA1;
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
}

:root {
  --vp-home-hero-name-color: var(--vp-c-brand-1);
  --vp-button-brand-bg: var(--vp-c-brand-4);
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.VPImage {
  filter: drop-shadow(-8px 8px 64px var(--vp-c-indigo-1));
}

.VPHero .main {
  max-width: none !important;
  width: 100% !important;
}

@media (min-width: 960px) {

  .VPHero .main {
    margin-top: -14px;
    flex: 2 !important;
  }

  .VPHero .image {
    order: 0 !important;
  }

  .VPHero .image img {
    max-width: 250px !important;
  }

  .VPHero .main .text {
    font-size: 52px !important;
    max-width: 640px !important;
  }

  .VPHero .tagline {
    padding-right: 2rem;
  }
}

.VPHero .text,
.VPHero .tagline {
  max-width: none !important;
  width: 100% !important;
}

.VPHero .main .name {
  margin-bottom: 4px !important;
}
