/**
 * YasuiJS Theme Customization
 */

:root {
  /* Brand colors */
  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-shadow-1: rgba(168, 177, 255, 0.8);
  --vp-c-brand-shadow-2: rgba(168, 177, 255, 0.3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
}

/**
 * Hero Section
 */
:root {
  /* Title with gradient */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #bd34fe 30%,
      #41d1ff);
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.VPImage {
  filter:
    drop-shadow(0 0 20px var(--vp-c-brand-shadow-1))
    drop-shadow(0 0 44px var(--vp-c-brand-shadow-2));
}
